<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Donut Chart</title>
    <meta name="description" content="JavaScript driven donut chart.">
    <link rel="stylesheet" href="styles/donut-chart.css">
  </head>
  <body>
    <section class="row">
      <div class="column">
        <div class="donut-chart" data-donut-chart="1"></div>
      </div>
      <div class="column">
        <div class="donut-chart" data-donut-chart="2"></div>
      </div>
    </section>
    <script src="scripts/donut-chart.js"></script>
  </body>
</html>
